# High-Level Design: {{ hld.title }}

| Field | Value |
|-------|-------|
| **Version** | {{ hld.version }} |
| **Created** | {{ hld.created_date }} |
| **Last Modified** | {{ hld.modified_date }} |
| **Author** | {{ hld.author }} |
| **Status** | {{ hld.status }} |
| **DRD Reference** | {{ hld.drd_reference }} |

---

{% include 'sections/01-executive-summary.j2' %}
{% include 'sections/02-requirements-summary.j2' %}
{% include 'sections/03-integration-architecture.j2' %}
{% include 'sections/04-data-architecture.j2' %}
{% include 'sections/05-pipeline-architecture.j2' %}
{% include 'sections/06-governance.j2' %}
{% include 'sections/07-decision-log.j2' %}
{% include 'sections/08-open-questions-risks.j2' %}
{% include 'sections/09-appendix.j2' %}
